/*importação de fonte via google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*fonte person*/
@font-face {
    font-family: "rimba_Andalas";
    src: url(font/Rimba_Andalas.ttf);
}

/*padrãozin css*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:rgb(245, 238, 147);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/*Mainzada*/
.main {
    text-align:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-top:550px;
}

.person-container{
    color:#000000;
}

.person-container_img{
    width: 300px;
}

.person-container_name{
    font-size:40px;
    margin-bottom: -10px;
    font-family: "rimba_Andalas";
}

.person-container_subtitle {
    font-size:14px;
    margin-bottom: 16px;
}

.info-container{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 40px;   
    margin-top:40px;
    
}

.info-box{
    width:400px;
    height: 180px;
    background-color: #FED536;
    border-radius: 32px;
    padding:24px;
}

.info-box_title{
    font-family:rimba_Andalas;
}

.contact-container{
    display:flex;
    gap: 24px;
    justify-content: center;
    
}

